In [1]:
#convert integer into float
num = int(input("Enter any integer number to convert into floating point number"))
float(num)

Enter any integer number to convert into floating point number 12

12.0

In [3]:
#convert float into integer
num = float(input("Enter any float number to convert into integer   number"))
int(num)

Enter any float number to convert into integer   number 2.13

2

In [5]:
#convert list into tuple
my_list = [12,123,23,5,5,6,67,7,3,]
my_tuple  = tuple(my_list)
print(my_tuple)

(12, 123, 23, 5, 5, 6, 67, 7, 3)

In [6]:
#convert tuple into list
my_tuple = (12,23,24,56,7,88,2,1)
my_list = list(my_tuple)
print(my_list)

[12, 23, 24, 56, 7, 88, 2, 1]

In [7]:
#convert decimal number into binary number
num = int(input("Enter any integer number"))
bin(num)

Enter any integer number 12

'0b1100'

In [8]:
#convet non-zero number to boolean
num = int(input("Enter any non_zero number:"))
result = bool(num)
print(result)

Enter any non_zero number: 123

True